@charset "utf-8";

/*
==================================================
cmp
*/

.cmp {
    position: relative;
}

.cmp_header {
    height: 50px;
    border-bottom: 1px solid #999;
}

.cmp_title {
    padding: 0px 10px;
    line-height: 50px;
}

.cmp_footer {
    position: fixed;
    border-top: 1px solid #999;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
}

.cmp_bodyer {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 50px;
}


/*
==================================================
view
*/

.cmp_view_list {
    position: relative;
    width: 100%;
    height: 100%;
}

.cmp_view_item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.cmp_view_item.selected {
    display: block;
}


/*
==================================================
cmp_list
*/

.cmp_list {
    position: relative;
}

.cmp_list_item {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px;
    cursor: pointer;
}

.cmp_list_item:hover {
    background: #f5f5f5;
}

.cmp_list_item.selected {
    background: #aaaaaa;
}


/*
==================================================
cmp_control
*/

.cmp_control {
    position: fixed;
    bottom: 0px;
}

.cmp_audio {}