@charset "utf-8";

/*
==================================================
cmp
*/

.cmp {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cmp-head {
    height: 50px;
    border-bottom: 1px solid #999;
}

.cmp-title {
    padding: 0px 10px;
    line-height: 50px;
}

.cmp-foot {
    border-top: 1px solid #999;
    height: 60px;
}

.cmp-body {
    flex: 1;
    overflow: hidden;
    position: relative;
}


/*
==================================================
view
*/

.cmp-view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
==================================================
cmp-list
*/

.cmp-list {
    top: 50%;
    height: 50%;
    overflow-y: auto;
}

.cmp-list-item {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px;
    cursor: pointer;
}

.cmp-list-item:hover {
    background: #f5f5f5;
}

.cmp-list-item.selected {
    background: #aaaaaa;
}


/*
==================================================
cmp-mixer
*/
.cmp-mixer {
    height: 50%;
    background: #000000;
}

/*
==================================================
cmp-lrc
*/
.cmp-lrc {
    display: none;
}

/*
==================================================
cmp-control
*/

.cmp-control {
    position: fixed;
    bottom: 0px;
}

.cmp-audio {}